/* VARIOUS BLOCKS: START */
.section {
  width: 100%;
  position: relative;
  &__content {
    margin: 0 auto;
    padding: 0 clamp(20px, 3.9vw, 30px);
    max-width: calc(clamp(700px, 63.15vw, 1200px) + clamp(20px, 3.9vw, 30px) * 2);
    width: 100%;
  }
}

.box1 {
  margin: 0 auto;
  display: block;
  padding: clamp(20px, 2.21vw, 42px) clamp(30px, 2.94vw, 56px);
  border: clamp(1px, 0.26vw, 2px) solid var(--clr-white);
  border-radius: clamp(20px, 2.1vw, 40px);
  position: relative;
}
.box2 {
  margin: 0 auto;
  display: block;
  padding: clamp(20px, 2.31vw, 44px) clamp(30px, 2.63vw, 50px);
  padding-top: clamp(20px, 1.89vw, 36px);
  border-radius: clamp(10px, 1.05vw, 20px);
  position: relative;
}

.list1,
.list3,
.list4,
.list5 {
  li {
    font-family: var(--font-second);
    position: relative;
    padding-left: clamp(20px, 1.47vw, 28px);
    font-weight: 400;
    font-size: var(--fz16);
    line-height: 131%;
    &::before {
      display: block;
      position: absolute;
      left: 0;
      top: clamp(2px, 0.15vw, 3px);
      top: 3px;
      content: '';
      background: url('../assets/images/icon_list_wht.svg');
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
      width: clamp(10px, 0.78vw, 15px);
      height: clamp(10px, 0.78vw, 15px);
      @media (max-width: 430px) {
        top: 4px;
      }
    }
    .fz22 {
      font-size: var(--fz22);
    }
  }
}
.list2 {
  li,
  a {
    display: block;
    font-family: var(--font-second);
    font-weight: 400;
    font-size: var(--fz16);
    line-height: 133%;
  }
  .variant__box_line {
    margin: var(--ma12) 0;
  }
}
.list3 {
  li {
    padding-left: clamp(12px, 1.05vw, 20px);
    line-height: 112%;
    margin-bottom: var(--ma12);
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      left: 0;
      top: clamp(4px, 0.31vw, 6px);
      background: var(--clr-yellow);
      border-radius: 50%;
      width: clamp(5px, 0.36vw, 7px);
      height: clamp(5px, 0.36vw, 7px);
    }
  }
}
.list4 {
  li {
    &::before {
      background: url('../assets/images/icon_list_prl.svg');
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
.list5 {
  li {
    &::before {
      background: url('../assets/images/icon_list_lgt.svg');
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.grid,
.grid1 .grid3 {
  margin: 0 auto;
  margin-top: clamp(20px, 2.46vw, 32px);
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: clamp(18px, 1.47vw, 28px);
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  &-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: clamp(8px, 1.07vw, 15px) clamp(10px, 1.53vw, 20px); */
    padding: clamp(8px, 0.78vw, 15px) clamp(25px, 2.63vw, 50px);
    padding-left: clamp(28px, 2.63vw, 50px);
    padding-right: clamp(20px, 2.63vw, 50px);
    background: var(--clr-white);
    color: var(--clr-dark);
    border: 1px solid #eaf3ff;
    border-radius: clamp(20px, 3.15vw, 60px);
    cursor: pointer;
    min-height: clamp(40px, 3.68vw, 70px);
    p {
      font-family: var(--font-second);
      font-weight: 500;
      font-size: var(--fz16);
      line-height: 112%;
      text-align: center;
    }
    .answer-letter {
      position: absolute;
      /* left: clamp(10px, 1.05vw, 20px); */
      left: clamp(10px, 1.31vw, 25px);
      top: 50%;
      translate: 0% -50%;
      max-width: 100% !important;
      width: max-content !important;
    }
    @media screen and (hover: hover) {
      &:hover {
        border: 1px solid #c49fe6;
      }
    }
  }
}
.grid1 {
  grid-auto-rows: 3fr;
  grid-template-columns: 1fr;
}
.grid3 {
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.button,
.button-help,
.button-download,
.button-research {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: clamp(18px, 1.26vw, 24px) 10px;
  background: var(--clr-yellow);
  border-radius: clamp(30px, 3.15vw, 60px);
  cursor: pointer;
  pointer-events: all;
  p {
    font-family: var(--font-main);
    font-weight: 700;
    font-size: var(--fz22);
    line-height: 100%;
    text-align: center;
    color: var(--clr-black);
  }
}

.button-help,
.button-download {
  @media screen and (hover: hover) {
    &:hover {
      background: var(--clr-yellow-hover);
      p {
        color: var(--clr-violet);
      }
    }
  }
}

.button-help {
  padding: var(--ma22);
  background: var(--clr-yellow);
  max-width: clamp(160px, 16.31vw, 310px);
  p {
    margin-top: clamp(1px, 0.15vw, 3px);
    font-size: var(--fz20);
    /* line-height: 120%; */
  }
}
.button-download {
  padding: var(--ma22);
  background: var(--clr-yellow);
  max-width: clamp(160px, 12.1vw, 230px);
  p {
    font-size: var(--fz22);
    line-height: 118%;
  }
}
.button-research {
  padding: var(--ma20);
  background: transparent;
  border: 1px solid #c49fe6;
  max-width: clamp(140px, 13.68vw, 260px);
  p {
    margin-top: clamp(1px, 0.15vw, 3px);
    font-size: var(--fz16);
    font-size: var(--fz20);
    /* 		line-height: 120%; */
  }
  @media screen and (hover: hover) {
    &:hover {
      background: #c49fe6;
      p {
        color: var(--clr-violet);
      }
    }
  }
}
.button-disabled {
  background: var(--clr-gray-lt);
  border: 1px solid var(--clr-gray-lt);
  cursor: auto;
  pointer-events: none;
  p {
    color: #f0f0f0;
  }
  @media screen and (hover: hover) {
    &:hover {
      background: var(--clr-gray-lt);
      p {
        color: #f0f0f0;
      }
    }
  }
}

.button_plus {
  display: none;
  background: var(--clr-yellow);
  color: var(--clr-black);
  font-weight: 600;
  font-size: var(--fz14);
  padding: var(--ma12) var(--ma20);
  border-radius: 24px;
  margin: 0 auto;
  cursor: pointer;
}

.green {
  background: var(--clr-green);
  color: var(--clr-white);
  border: none;
  @media screen and (hover: hover) {
    &:hover {
      border: none;
    }
  }
}
.red {
  background: var(--clr-red);
  color: var(--clr-white);
  border: none;
  @media screen and (hover: hover) {
    &:hover {
      border: none;
    }
  }
}
.variants {
  margin-top: var(--ma40);
  margin-bottom: var(--ma60);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--gap30);
  .variant {
    width: 100%;
    &__box {
      height: 100%;
      &_icon {
        max-width: clamp(30px, 2.63vw, 50px);
      }
      &_title {
        margin-top: var(--ma22);
      }
      &_list {
        margin-top: var(--ma22);
        li {
          font-size: var(--fz15);
          a {
            font-size: var(--fz15);
            @media screen and (hover: hover) {
              &:hover {
                font-weight: 700;
              }
            }
            @media (max-width: 425px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .variant1 .variant__box {
    background: var(--clr-lilac);
    &_title {
      color: var(--clr-white);
    }
    &_list {
      li {
        color: #e3d7ee;
        @media screen and (hover: hover) {
          a:hover {
            color: var(--clr-white);
          }
        }
      }
    }
    &_line {
      border: 1px dashed #8555ab;
    }
  }
  .variant2 .variant__box {
    background: var(--clr-yellow);
    &_title {
      color: var(--clr-lilac-dk);
    }
    &_list {
      li {
        color: #423f8a;
        max-width: clamp(180px, 14.73vw, 280px);
        @media screen and (hover: hover) {
          a:hover {
            color: var(--clr-lilac-dk);
          }
        }
      }
    }
    &_line {
      border: 1px dashed #c8a80f;
    }
  }
  .variant3 .variant__box {
    background: var(--clr-lilac-dk);
    padding-right: var(--ma30);
    &_title {
      color: var(--clr-white);
    }
    &_list {
      li {
        color: #e5f3ff;
        @media screen and (hover: hover) {
          a:hover {
            color: var(--clr-white);
          }
        }
      }
    }
    &_line {
      border: 1px dashed #49478c;
    }
  }
}
.footnote {
  color: var(--clr-footer);
  &__text,
  &__list li {
    font-family: var(--font-second);
    font-weight: 300;
    font-size: var(--fz9);
    line-height: 144%;
    color: var(--clr-gray);
  }
  &__middle {
    margin-top: var(--ma12);
    margin-bottom: var(--ma12);
  }
  &__text .reg {
    font-size: 0.7em;
    top: -0.45em;
  }
}

.footer {
  margin-top: var(--ma35);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: clamp(20px, 2.05vw, 39px);
  &__logo {
    max-width: clamp(80px, 7.36vw, 140px);
  }
  &__text {
    p,
    a {
      display: block;
      font-family: var(--font-second);
      font-weight: 400;
      font-size: var(--fz12);
      line-height: 158%;
      color: var(--clr-lilac-dk);
    }
  }
}
.disclaimer {
  margin: 0 auto;
  margin-top: var(--ma35);
  text-align: center;
  padding: clamp(10px, 0.94vw, 18px) clamp(20px, 3.9vw, 30px);
  background: var(--clr-white);
  opacity: 0.5;
  p {
    font-family: var(--font-second);
    font-weight: 200;
    font-size: var(--fz20);
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #474747;
  }
}
.discl-result {
  margin-top: var(--ma20);
  p {
    font-family: var(--font-second);
    font-weight: 400;
    font-size: var(--fz12);
    line-height: 100%;
    color: #aaa4ba;
  }
}

/* VARIOUS BLOCKS: END */
@media (max-width: 700px) {
  .box1 {
    padding: clamp(16px, 2.85vw, 20px);
  }
  .box2 {
    padding: 20px;
  }
  .variants {
    gap: 10px;
    &-title {
      margin-top: var(--ma30);
    }
    .variant3 .variant__box {
      padding-right: 20px;
    }
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .button {
    max-width: clamp(140px, 33.33vw, 200px);
    padding: clamp(8px, 3vw, 18px);
  }
  .button_zoom {
    text-align: center;
    margin-top: 16px;
  }
  .button_plus {
    display: inline-block;
  }
  .variants {
    flex-direction: column;
    align-items: center;
    width: 100%;
    .variant {
      max-width: 320px;
    }
    /* 		.variant1 .variant__box {
			&_list {
				li:last-child {
					max-width: 200px;
				}
			}
		} */
    /* 		.variant3 .variant__box {
			&_list {
				li:nth-child(3) {
					max-width: 200px;
				}
			}
		} */
    .variant2 .variant__box {
      &_list li {
        max-width: 100%;
      }
    }
  }
  .footer {
    align-items: center;
    &__text {
      text-align: center;
    }
  }
}
@media (max-width: 500px) {
  .box2 {
    padding: 30px;
  }
  .grid,
  .grid3 {
    grid-template-columns: 1fr;
  }

  .variants-title {
    text-align: center;
  }
  .variants {
    .variant__box {
      &_icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
      &_title {
        margin-top: 0;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .disclaimer {
    p {
      font-size: var(--fz20);
    }
  }
}
@media (max-width: 360px) {
  .variants .variant {
    max-width: 100%;
  }
}
