.wrapper {
	padding: 0;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
}

.section {
	position: relative;
	width: 100%;
	&__content {
		margin: 0 auto;
		@include adaptMult(padding, 30 20, 60 30);
		@include adapt(max-width, 808, 1340);
		width: 100%;
	}
}

.mfp-container {
	padding: 1em;
	overflow-y: auto;
}

.componentsAnimation {
	opacity: 0;
}

.treatment {
	position: relative;
	margin: 0 auto;
	@include adapt(padding, 20, 40);
	@include adapt(max-width, 520, 768);
	background: $clr-white;
	&__flex {
		@include adapt(gap, 16, 30);
		& > * {
			width: 100%;
		}
		h4 {
			@include adapt(max-width, 180, 290);
		}
	}
	.mfp-close {
		@include adapt(width, 28, 36);
		@include adapt(height, 28, 36);
		@include adapt(font-size, 28, 36);
		line-height: 100%;
		font-weight: 400;
	}
	@media screen and (max-width: 600px) {
		&__flex {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			h4 {
				max-width: 100%;
			}
		}
	}
}

#graph1,
#graph2,
#graph3,
#graph4,
#graph5,
#graph6,
#graph7,
#graph8 {
	position: relative;
	padding: 40px 16px 10px;
	background: $clr-white;
	img {
		min-width: 616px;
		width: 100%;
		padding-bottom: 24px;
	}
}
#graph8 {
	img {
		min-width: 1200px;
	}
}

.mfp-container {
	padding: 1em;
	overflow-y: auto;
}

._1 {
	background-image: url('images/bg_main.png');
	// background-image: url('../../assets/img/bg_main.png');
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	.section__content {
		@include adapt(padding-top, 20, 40);
		padding-bottom: 0;
		.intro {
			&__logo {
				width: 100%;
				@include adapt(max-width, 100, 160);
			}
			&__flex {
				@include adapt(margin-top, 20, 54);
				@include adapt(gap, 16, 22);
				& > * {
					width: 100%;
				}
				&_text {
					@include adapt(margin-top, 20, 43);
					@include adapt(max-width, 360, 576);
					opacity: 0;
					h1 {
						line-height: 100%;
						@include adapt(padding-bottom, 5, 10);
					}
				}
				&_label {
					@include adapt(margin-top, 15, 30);
					p {
						@include adapt(font-size, 16, 24);
					}
				}
				&_picture {
					margin: 0 auto;
					@include adapt(max-width, 300, 592);
					opacity: 0;
				}
			}
		}
	}
	@media screen and (max-width: 767px) {
		background-position: 66% top;
		.section__content {
			.intro {
				&__flex {
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					gap: 20px;
					& > * {
						margin: 0 auto;
						width: 100%;
					}
					&_text {
						margin-top: 0;
						max-width: 100%;
						text-align: center;
					}
					&_label {
						margin: 0 auto;
						margin-top: 20px;
					}
					&_picture {
						max-width: 360px;
					}
				}
			}
		}
	}
	@media screen and (max-width: 430px) {
		.section__content {
			.intro {
				&__flex {
					&_text h1 {
						@include adapt(font-size, 42, 52, 430);
					}
					&_label p {
						@include adapt(font-size, 14, 16, 430);
						line-height: 120%;
					}
				}
			}
		}
	}
}

._2 {
	.section__content {
		@include adapt(padding-top, 60, 120);
		.presentation {
			&__box {
				@include adapt(padding, 15, 64);
				@include adapt(gap, 20, 30);
				& > * {
					width: 100%;
				}
				&_textbox {
					@include adapt(max-width, 460, 740);
				}
				&_label {
					@include adapt(margin-top, 20, 40);
					@include adapt(margin-left, 15, 40);
					p {
						@include adapt(font-size, 14, 16);
					}
				}
				&_gray {
					h4:first-child {
						@include adapt(margin-bottom, 16, 32);
					}
				}
				&_list {
					@include adapt(margin-top, 10, 16);
				}
				&_packbox {
					@include adapt(max-width, 238, 360);
					img {
						margin: 0 auto;
					}
				}
				&_button {
					@include adapt(margin-top, 16, 24);
				}
			}
		}
	}
	@media screen and (max-width: 700px) {
		.section__content {
			.presentation {
				&__box {
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: start;
					-ms-flex-pack: start;
					justify-content: flex-start;
					&_textbox {
						max-width: 100%;
					}
					&_packbox {
						img {
							margin: 0 auto;
							@include adapt(max-width, 226, 238, 600);
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 380px) {
		.section__content {
			.presentation {
				&__box_label {
					@include adapt(margin-left, 0, 15, 380);
					p {
						font-size: 14px;
						text-align: left;
						line-height: 110%;
					}
				}
			}
		}
	}
}

._3 {
	.section__content {
		@include adapt(padding-bottom, 60, 120);
		.usage {
			@include adapt(gap, 20, 30);
			& > * {
				width: 100%;
			}
			h4 {
				@include adapt(max-width, 360, 560);
			}
			&__list {
				@include adapt(max-width, 360, 640);
				.box-orange {
					@include adapt(margin-top, 20, 48);
					@include adapt(padding-right, 120, 160);
					position: relative;
					p {
						@include adapt(font-size, 16, 20);
						font-weight: 400;
						line-height: 120%;
						color: $clr-white;
					}
					img {
						position: absolute;
						right: 0;
						bottom: 0;
						height: auto;
						width: 100%;
						@include adapt(max-width, 100, 120);
						@include adapt(margin-right, 14, 22);
					}
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		.section__content {
			.usage {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				h4 {
					max-width: 100%;
				}
				&__list {
					max-width: 100%;
					.box-orange {
						@include adapt(margin-top, 24, 30, 768);
						@include adapt(padding, 15, 20, 768);
						padding-right: 110px;
						img {
							max-width: 80px;
							@include adapt(margin-right, 15, 20, 768);
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 430px) {
		.section__content {
			.usage {
				&__list {
					.box-orange {
						@include adapt(margin-top, 0, 16, 430);
						padding-right: 124px;
						p {
							@include adapt(font-size, 14, 16, 430);
						}
						img {
							max-width: 106px;
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
}

._4 {
	background: $clr-gray;
	.section__content {
		@include adapt(padding-top, 60, 120);
		@include adapt(padding-bottom, 60, 120);
		.formula {
			h3 {
				@include adapt(max-width, 800, 1020);
			}
			&__grid {
				@include adapt(margin-top, 20, 32);
				display: -ms-grid;
				display: grid;
				grid-gap: 8px;
				-ms-grid-columns: clamp(220px, 16.25vw, 312px) 8px 1fr 8px 1fr;
				grid-template-columns: clamp(220px, 16.25vw, 312px) repeat(2, 1fr);
				-ms-grid-rows: auto;
				grid-template-rows: auto;
				grid-template-areas:
					'item1 item2 item3'
					'item1 item4 item5';
				.item1 {
					grid-area: item1;
				}
				.item2 {
					grid-area: item2;
				}
				.item3 {
					grid-area: item3;
				}
				.item4 {
					grid-area: item4;
				}
				.item5 {
					grid-area: item5;
				}
				.item {
					@include adapt(padding, 15, 24);
					width: 100%;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: start;
					-ms-flex-align: start;
					align-items: flex-start;
					-webkit-box-pack: start;
					-ms-flex-pack: start;
					justify-content: flex-start;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					.title {
						@include adapt(margin-bottom, 8, 12);
						font-family: $font-commissioner;
						font-weight: 600;
						color: $clr-black;
					}
				}
				.item1 {
					background: $clr-white;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					img {
						width: 100%;
					}
				}
			}
		}
	}
	@media screen and (max-width: 767px) {
		.section__content {
			.formula {
				&__grid {
					-ms-grid-columns: 1fr 8px 1fr 8px 1fr 8px 1fr;
					grid-template-columns: repeat(4, 1fr);
					-ms-grid-rows: auto 8px auto 8px auto;
					grid-template-areas:
						'item1 item1 item1 item1'
						'item2 item2 item3 item3'
						'item4 item4 item5 item5';
					.item1 img {
						max-width: 200px;
					}
				}
			}
		}
	}
	@media screen and (max-width: 600px) {
		.section__content {
			.formula {
				&__grid {
					-ms-grid-columns: 1fr;
					grid-template-columns: 1fr;
					-ms-grid-rows: auto 8px auto 8px auto 8px auto 8px auto;
					grid-template-areas:
						'item1'
						'item2'
						'item3'
						'item4'
						'item5';
				}
			}
		}
	}
}

._5 {
	.section__content {
		@include adapt(padding-bottom, 30, 60);
		.researchs {
			&__label {
				@include adapt(margin-top, 20, 40);
				@include adapt(margin-left, 15, 24);
			}
			&__border1 {
				@include adapt(max-width, 700, 960);
			}
			&__border2 {
				@include adapt(margin-top, 20, 32);
				@include adaptMult(padding, 20 15, 40 40);
				@include adapt(gap, 20, 30);
				& > * {
					width: 100%;
				}
				h4 {
					@include adapt(max-width, 200, 320);
				}
				.buttons {
					@include adapt(gap, 20, 30);
					@include adapt(max-width, 340, 720, 1250);
				}
			}
			&__title {
				margin: 0 auto;
				@include adapt(margin-top, 30, 64);
				@include adapt(margin-bottom, 10, 24);
				@include adapt(max-width, 600, 880);
				text-align: center;
			}
			&__graphbox {
				@include adapt(gap, 20, 40);
				&_graph {
					.text {
						@include adapt(padding-bottom, 8, 12);
						@include adapt(font-size, 12.5, 20);
						font-family: $font-commissioner;
						font-weight: 600;
						color: $clr-orange;
					}
					.graph {
						@include adapt(padding-top, 10, 16);
						border-top: 2px solid #e6d5cd;
					}
				}
			}
			&__gray {
				@include adapt(margin-top, 30, 64);
				h4 {
					margin: 0 auto;
					@include adapt(margin-bottom, 10, 16);
					@include adapt(max-width, 800, 1010);
					text-align: center;
				}
			}
			&__list {
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				-ms-flex-direction: row;
				flex-direction: row;
				@include adapt(gap, 10, 30);
				li {
					width: 33%;
					&:not(:last-child) {
						p strong {
							display: block;
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 800px) {
		.section__content {
			.researchs {
				&__graphbox {
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					-webkit-box-align: start;
					-ms-flex-align: start;
					align-items: flex-start;
					&_graph {
						.text {
							@include adapt(font-size, 14, 16, 800);
						}
					}
				}
				&__list {
					-webkit-box-align: start;
					-ms-flex-align: start;
					align-items: flex-start;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					li {
						width: 100%;
						&:not(:last-child) {
							p strong {
								display: inline;
							}
						}
					}
				}
				&__border2 {
					-webkit-box-align: start;
					-ms-flex-align: start;
					align-items: flex-start;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					h4 {
						max-width: 100%;
						text-align: center;
					}
					.buttons {
						max-width: 100%;
						-ms-flex-wrap: wrap;
						flex-wrap: wrap;
					}
				}
			}
		}
	}
	@media screen and (max-width: 430px) {
		.section__content {
			.researchs {
				&__border2 {
					.button {
						max-width: 100%;
						p {
							max-width: 200px;
							width: 100%;
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 380px) {
		.section__content {
			.researchs {
				&__label {
					@include adapt(margin-left, 0, 15, 380);
					p {
						font-size: 14px;
						text-align: left;
						line-height: 110%;
					}
				}
			}
		}
	}
}

._6,
._7 {
	.section__content {
		.results {
			&__label {
				@include adapt(margin-top, 20, 32);
				@include adapt(margin-left, 15, 24);
			}
			&__border {
				@include adapt(margin-bottom, 30, 64);
				@include adapt(max-width, 770, 960);
			}
			&__title {
				margin: 0 auto;
				@include adapt(margin-bottom, 20, 24);
				@include adapt(max-width, 500, 880);
				text-align: center;
			}
			&__flex {
				@include adapt(gap, 20, 40);
				& > * {
					width: 50%;
				}
				&_item {
					@include adapt(gap, 16, 24);
					& > * {
						width: 100%;
					}
					.text {
						@include adapt(padding-bottom, 8, 12);
						@include adapt(font-size, 12.5, 20);
						font-family: $font-commissioner;
						font-weight: 600;
						color: $clr-orange;
					}
					.graph {
						@include adapt(padding-top, 10, 16);
						border-top: 2px solid #e6d5cd;
					}
				}
				&_bottom {
					@include adapt(margin-top, 10, 16);
					@include adapt(padding, 15, 24);
					p {
						@include adapt(font-size, 15, 16);
						font-weight: 400;
						line-height: 130%;
						text-align: center;
						letter-spacing: -0.01em;
						color: $clr-dark;
					}
				}
				&_gray {
					@include adapt(padding-bottom, 15, 48);
				}
				&_textbox {
					@include adapt(max-width, 220, 320);
					.subtitle {
						@include adapt(margin-top, 10, 16);
						@include adapt(margin-bottom, 8, 12);
					}
				}
				&_pack {
					@include adapt(max-width, 120, 200);
				}
				&-last {
					@include adapt(margin-top, 20, 48);
				}
			}
		}
	}
	@media screen and (max-width: 800px) {
		.section__content {
			.results {
				&__flex {
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					-webkit-box-align: start;
					-ms-flex-align: start;
					align-items: flex-start;
					& > * {
						width: 100%;
					}
					&_item {
						.text {
							@include adapt(font-size, 14, 16, 800);
						}
						.graph {
							@include adapt(padding-top, 10, 16);
							border-top: 2px solid #e6d5cd;
						}
					}
					&_gray {
						@include adapt(padding, 15, 20, 800);
					}
					&_textbox {
						@include adapt(max-width, 320, 480, 800);
					}
					&_pack {
						margin: 0 auto;
						@include adapt(max-width, 120, 160, 800);
					}
				}
			}
		}
	}
	@media screen and (max-width: 700px) {
		.section__content {
			.results {
				&__flex {
					&_bottom {
						margin-top: 20px;
					}
				}
			}
		}
	}
	@media screen and (max-width: 430px) {
		.section__content {
			.results {
				&__flex {
					.box-gray {
						-webkit-box-orient: vertical;
						-webkit-box-direction: normal;
						-ms-flex-direction: column;
						flex-direction: column;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
					}
					&_textbox {
						max-width: 100%;
					}
					&_pack {
						max-width: 180px;
					}
				}
			}
		}
	}
	@media screen and (max-width: 380px) {
		.section__content {
			.results {
				&__label {
					@include adapt(margin-left, 0, 15, 380);
					p {
						font-size: 14px;
						text-align: left;
						line-height: 110%;
					}
				}
			}
		}
	}
}

._8 {
	.section__content {
		@include adapt(padding-bottom, 60, 120);
		.syndrome {
			h3 {
				@include adapt(max-width, 800, 1000);
				@include adapt(margin-bottom, 20, 32);
			}
			&__border {
				@include adapt(max-width, 770, 960);
				p i {
					font-style: normal;
					color: $clr-orange;
				}
			}
			&__label {
				@include adapt(margin-top, 20, 64);
				@include adapt(margin-left, 15, 24);
			}
			&__title {
				margin: 0 auto;
				@include adapt(margin-top, 30, 64);
				@include adapt(margin-bottom, 20, 24);
				@include adapt(max-width, 500, 880);
				text-align: center;
			}
		}
	}
	@media screen and (max-width: 380px) {
		.section__content {
			.syndrome {
				&__label {
					@include adapt(margin-left, 0, 15, 380);
					p {
						font-size: 14px;
						text-align: left;
						line-height: 110%;
					}
				}
			}
		}
	}
}

._9 {
	background-image: url('images/bg_bottom.png');
	// background-image: url('../../assets/img/bg_bottom.png');
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	.section__content {
		@include adapt(padding-top, 60, 120);
		@include adapt(padding-bottom, 60, 120);
		.presentation {
			&__box {
				@include adapt(gap, 20, 30);
				& > * {
					width: 100%;
				}
				&_textbox {
					@include adapt(max-width, 460, 740);
				}
				&_label {
					@include adapt(margin-top, 20, 40);
					@include adapt(margin-left, 15, 40);
					p {
						@include adapt(font-size, 14, 16);
					}
				}
				&_gray {
					h4:first-child {
						@include adapt(margin-bottom, 16, 32);
					}
				}
				&_list {
					@include adapt(margin-top, 10, 16);
				}
				&_packbox {
					@include adapt(max-width, 238, 360);
					img {
						margin: 0 auto;
					}
				}
				&_button {
					@include adapt(margin-top, 16, 24);
				}
			}
		}
	}
	@media screen and (max-width: 700px) {
		background-position: 68% top;
		.section__content {
			.presentation {
				&__box {
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: start;
					-ms-flex-pack: start;
					justify-content: flex-start;
					&_textbox {
						max-width: 100%;
					}
					&_packbox {
						img {
							margin: 0 auto;
							@include adapt(max-width, 226, 238, 600);
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 380px) {
		background-position: 63% top;
		.section__content {
			.presentation {
				&__box_label {
					@include adapt(margin-left, 0, 15, 380);
					p {
						font-size: 14px;
						text-align: left;
						line-height: 110%;
					}
				}
			}
		}
	}
}

._10 {
	.section__content {
		@include adapt(padding-bottom, 60, 120);
		.footer {
			&__top {
				&-desk {
					display: block;
				}
				&-mob {
					display: none;
				}
			}
			&__flex {
				@include adapt(gap, 20, 40);
				& > * {
					width: 100%;
					&:first-child {
						@include adapt(max-width, 320, 480);
					}
					&:last-child {
						@include adapt(max-width, 400, 720);
					}
				}
			}
			&__title {
				@include adapt(margin-bottom, 10, 12);
				@include adapt(font-size, 12, 14);
				color: $clr-black;
			}
			&__text {
				p {
					@include adapt(font-size, 12, 14);
					@include adapt(margin-bottom, 2, 4);
				}
			}
			&__list {
				li {
					@include adapt(margin-bottom, 2, 3);
					@include adapt(font-size, 12, 14);
					line-height: 120%;
					a {
						color: #0052cd !important;
						text-decoration: underline !important;
					}
				}
			}
			&__discl {
				margin: 0 auto;
				@include adapt(margin-bottom, 16, 32);
				font-family: $font-commissioner;
				@include adapt(font-size, 16, 28);
				font-weight: 500;
				line-height: 140%;
				text-transform: uppercase;
				color: $clr-discl;
			}
			&__logobox {
				@include adapt(gap, 30, 40);
				& > * {
					width: 100%;
				}
				.logo {
					@include adapt(max-width, 82, 128);
					img {
						width: 100%;
					}
					p {
						@include adapt(margin-top, 4, 12);
						@include adapt(font-size, 13, 16);
						font-weight: 400;
						line-height: 125%;
					}
				}
			}
			&__contacts {
				& > * {
					display: block;
					@include adapt(margin-bottom, 8, 10);
					@include adapt(font-size, 13, 16);
					strong {
						font-weight: 700;
					}
					&:not(a) {
						font-weight: 400;
					}
				}
			}
		}
	}
	@media screen and (max-width: 800px) {
		.section__content {
			.footer {
				&__top {
					&-desk {
						display: none;
					}
					&-mob {
						display: block;
						margin-bottom: 16px;
					}
				}
				&__flex {
					-webkit-box-orient: vertical;
					-webkit-box-direction: reverse;
					-ms-flex-direction: column-reverse;
					flex-direction: column-reverse;
					& > * {
						&:first-child {
							max-width: 100%;
						}
						&:last-child {
							max-width: 100%;
						}
					}
				}
				&__discl {
					text-align: center;
				}
			}
		}
	}
}

.openBlock {
	opacity: 0;
	-webkit-transition: opacity 400ms linear, max-height 190ms ease-in;
	transition: opacity 400ms linear, max-height 190ms ease-in;
}
.openButton {
	img {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: center clamp(1.5px, 0.10416vw, 2px);
		transform-origin: center clamp(1.5px, 0.10416vw, 2px);
	}
}
._active {
	&:not(.openButton) {
		opacity: 1;
	}
	&:has(.arrow) {
		img {
			-webkit-transform: rotateX(180deg);
			transform: rotateX(180deg);
		}
	}
}
