:root {
	--clr-white: #ffffff;
	--clr-black: #252349;
	--clr-violet: #492ba0;
	--clr-lilac: #703e97;
	--clr-lilac-dk: #2a276e;
	--clr-dark: #474747;
	--clr-yellow: #f1cb14;
	--clr-footer: #4b5563;
	--clr-green: #2da02b;
	--clr-red: #ca3232;
	--clr-gray-lt: #d1d1d1;
	--clr-gray: #4b5563;
	--clr-yellow-hover: #f4db5c;

	--font-main: 'Overpass', Arial, Helvetica, sans-serif;
	--font-second: 'Roboto', Arial, Helvetica, sans-serif;

	/* clamp from 1900px */
	--fz33: clamp(18px, 1.73vw, 33px);
	--fz24: clamp(13px, 1.26vw, 24px);

	--fz22: clamp(14px, 1.15vw, 22px);
	--fz20: clamp(13px, 1.05vw, 20px);
	--fz18: clamp(13px, 0.94vw, 18px);

	--fz16: clamp(12px, 0.84vw, 16px);
	--fz15: clamp(12px, 0.78vw, 15px);
	--fz14: clamp(10px, 0.73vw, 14px);

	--fz12: clamp(9px, 0.63vw, 12px);
	--fz10: clamp(8px, 0.52vw, 10px);

	--fz9: clamp(8px, 0.647vw, 9px);
	--fz9: 9px;

	@media (max-width: 425px) {
		--fz24: 14px;
		--fz22: 14px;
		--fz16: 13px;
	}

	/* margins */
	--ma78: clamp(40px, 4.1vw, 78px);
	--ma70: clamp(30px, 3.68vw, 70px);
	--ma60: clamp(30px, 3.15vw, 60px);
	--ma50: clamp(30px, 2.63vw, 50px);
	--ma40: clamp(24px, 2.1vw, 40px);
	--ma44: clamp(24px, 2.31vw, 44px);
	--ma35: clamp(20px, 1.84vw, 35px);
	--ma32: clamp(20px, 1.68vw, 32px);
	--ma30: clamp(20px, 1.57vw, 30px);
	--ma22: clamp(12px, 1.15vw, 22px);
	--ma20: clamp(12px, 1.05vw, 20px);
	--ma16: clamp(10px, 0.84vw, 16px);
	--ma12: clamp(8px, 0.63vw, 12px);
	--ma10: clamp(8px, 0.52vw, 10px);

	/* gaps */
	--gap15: clamp(8px, 0.78vw, 15px);
	--gap20: clamp(10px, 1.05vw, 20px);
	--gap30: clamp(10px, 1.57vw, 30px);
	--gap40: clamp(14px, 2.1vw, 40px);
	--gap46: clamp(16px, 2.42vw, 46px);
	--gap60: clamp(20px, 3.15vw, 60px);
	--gap70: clamp(20px, 3.68vw, 70px);
	--gap78: clamp(30px, 4.1vw, 78px);

	/* bottom fix */
	--bottom-fix-desktop: calc(109px - 50px);
	--bottom-fix-1000: calc(112px - 50px);
	--bottom-fix-767: calc(162px - 50px);
	--bottom-fix-403: calc(175px - 50px);

	--bottom-fix: var(--bottom-fix-desktop);
	@media (max-width: 1000px) {
		--bottom-fix: var(--bottom-fix-1000);
	}
	@media (max-width: 767px) {
		--bottom-fix: var(--bottom-fix-767);
	}
	@media (max-width: 403px) {
		--bottom-fix: var(--bottom-fix-403);
	}
}

/* BOTTOM-FIX */
#bottomFix {
	height: var(--bottom-fix);
	height: 0;
}
