.wrapper-cognitive3 {
	.modal-box {
		.modal-content {
			margin: 0 auto;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			max-width: clamp(580px, 48.42vw, 920px);
			&__list {
				margin-right: var(--ma20);
				&:last-child {
					margin-right: 0;
				}
			}
			&__item:nth-child(1),
			&__item:nth-child(2) {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-direction: column;
				gap: var(--ma40);
			}
			&__item:nth-child(1) {
				width: 35%;
				.modal-content {
					&__listbox {
						display: block;
					}
					&__title {
						margin-bottom: var(--ma10);
					}
				}
			}
			&__item:nth-child(2) {
				width: 60%;
				.modal-content {
					&__listbox {
						display: block;
					}
					&__title {
						margin-bottom: var(--ma12);
					}
					&__list {
						margin-top: var(--ma10);
					}
				}
			}
		}
	}
	._1 {
		.section__content {
			.info__box {
				&_white {
					padding: clamp(16px, 2.1vw, 40px) clamp(16px, 3.15vw, 60px);
					text-align: left;
				}
				&_col:first-child {
					width: 54%;
					text-align: left;
				}
				&_col:last-child {
					width: 36%;
				}
				&-title {
					line-height: 136%;
					max-width: clamp(220px, 22.1vw, 420px);
				}
				&-list {
					margin-top: var(--ma16);
					li {
						line-height: 136%;
						margin-bottom: var(--ma10);
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
				&-text {
					margin: 0 auto;
					max-width: clamp(200px, 15.78vw, 300px);
					font-family: var(--font-second);
					font-weight: 400;
					font-size: var(--fz16);
					line-height: 150%;
					color: var(--clr-black);
				}
				img {
					margin: var(--ma10) auto;
					max-width: clamp(10px, 1.5vw, 15px);
					width: 100%;
				}
			}
			.clincase {
				margin-top: var(--ma60);
				&__list {
					max-width: clamp(160px, 13.68vw, 260px);
					width: 100%;
					&:first-child {
						max-width: clamp(190px, 16.84vw, 320px);
					}
				}
				&__title {
					max-width: 100%;
				}
				&__image-desktop {
					max-width: clamp(270px, 18.42vw, 350px);
				}
				&__image-mob {
					max-width: clamp(270px, 18.42vw, 350px);
				}
				&__image-desktop,
				&__image-mob {
					p {
						margin: 0 auto;
						margin-right: clamp(50px, 4.73vw, 90px);
						@media (max-width: 600px) {
							margin-right: clamp(26px, 6vw, 36px);
						}
						@media (max-width: 500px) {
							margin-right: clamp(26px, 9vw, 46px);
							margin: 0 auto;
						}
						@media (max-width: 375px) {
							margin-right: 13%;
							margin: 0 auto;
						}
					}
				}
				&__research {
					gap: var(--gap20);
					&_text {
						width: 100%;
					}
					&_button {
						max-width: clamp(200px, 16.31vw, 310px);
					}
				}
			}
		}
	}
	.test__content_var1 {
		.top {
			margin-bottom: var(--ma50);
			.title {
				margin: 0 auto;
				font-family: var(--font-second);
				font-weight: 500;
				font-size: var(--fz22);
				line-height: 136%;
				color: var(--clr-black);
				text-align: center;
				max-width: clamp(480px, 47.36vw, 900px);
			}
		}
		.question {
			margin: 0 auto;
			max-width: 100%;
		}
	}
	.test__result_var1 {
		.good__warning {
			margin: 0 auto;
			width: 100%;
			max-width: clamp(530px, 52.1vw, 990px);
			img {
				width: 100%;
				max-width: clamp(30px, 2.63vw, 50px);
				margin-right: var(--ma12);
			}
			&_text {
				font-family: var(--font-second);
				font-weight: 600;
				font-size: var(--fz16);
				line-height: 136%;
			}
		}
		.good__box {
			&:nth-child(1) {
				margin-bottom: var(--ma20);
				.good__message {
					text-align: center;
					width: 100%;
				}
			}
			&:nth-child(3) {
				margin: 0 auto;
				margin-top: var(--ma40);
				width: 100%;
				max-width: clamp(530px, 52.1vw, 990px);
				.good__message {
					width: 100%;
					&-title {
						margin: 0;
					}
					&-listbox {
						gap: var(--gap40);
					}
					&-list {
						margin-top: var(--ma16);
						li {
							text-align: left;
							margin-bottom: var(--ma12);
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
	.test__content_var2 {
		.top {
			margin: 0 auto;
			margin-bottom: var(--ma44);
			max-width: clamp(530px, 47.89vw, 910px);
			.left {
				width: 47%;
				.subtitle {
					margin-bottom: var(--ma16);
					font-family: var(--font-second);
					font-weight: 400;
					font-size: var(--fz16);
					line-height: 138%;
					color: var(--clr-black);
				}
				.title {
					margin-bottom: 0;
					font-family: var(--font-second);
					font-weight: 500;
					font-size: var(--fz22);
					line-height: 136%;
					color: var(--clr-black);
				}
			}
			.right {
				width: 49%;
				img {
					margin: 0 auto;
					width: 100%;
					max-width: 430px;
				}
			}
		}
		.question {
			margin: 0 auto;
			width: 100%;
			max-width: 100%;
		}
		.grid-item {
			p {
				line-height: 136%;
				width: 100%;
				max-width: clamp(180px, 16.31vw, 310px);
			}
		}
		@media (max-width: 1368px) {
			.grid {
				grid-template-columns: 1fr;
				max-width: clamp(520px, 48.97vw, 670px);
				&-item p {
					max-width: 480px;
				}
			}
		}
	}
	.test__result_var2 {
		.good__box {
			&:nth-child(2) {
				max-width: 100%;
				.good__message {
					width: 100%;
					&-title {
						max-width: clamp(490px, 44.74vw, 850px);
					}
					&-list li {
						margin-bottom: var(--ma12);
						text-align: left;
					}
				}
			}
			&:nth-child(3) {
				margin: 0 auto;
				margin-top: var(--ma32);
				max-width: 100%;
				.good__image {
					&-scheme:nth-child(1) {
						width: calc(43.5% - var(--gap30));
					}
					&-scheme:nth-child(2) {
						width: calc(51% - var(--gap30));
					}
				}
			}
		}
	}
	.test__content_var3 {
		.top {
			margin: 0 auto;
			margin-bottom: var(--ma50);
			max-width: clamp(530px, 47.89vw, 910px);
			.left {
				width: 100%;
				max-width: 100%;
			}
		}
		.question {
			max-width: clamp(530px, 47.89vw, 910px);
			font-weight: 400;
			strong {
				font-weight: 600;
			}
		}
		.grid {
			margin: 0 auto;
			margin-top: clamp(20px, 2.46vw, 32px);
			max-width: clamp(490px, 44.74vw, 850px);
		}
	}
	.test__result_var3 {
		.good__box {
			&:nth-child(2) {
				margin-bottom: var(--ma50);
				.good__message {
					margin: 0;
					width: 56%;
					&-title {
						margin-bottom: var(--ma20);
						text-align: left;
					}
					&-textbox {
						.list {
							&:nth-child(1) {
								width: 39%;
								li {
									margin-bottom: var(--ma12);
									&:last-child {
										margin-bottom: 0;
									}
								}
							}
							&:nth-child(2) {
								width: 57%;
								li {
									margin-bottom: var(--ma12);
								}
								.list {
									margin: 0 auto;
									margin-left: clamp(20px, 1.47vw, 28px);
									width: 100%;
									max-width: 275px;
									flex-wrap: wrap;
									gap: var(--ma12);
									li {
										margin: 0;
										padding-left: clamp(10px, 0.84vw, 16px);
										&::before {
											background: var(--clr-yellow);
										}
									}
								}
							}
						}
					}
				}
				.good__image {
					width: 40%;
					img {
						margin: 0 auto;
						width: 100%;
						max-width: 390px;
					}
				}
			}
			&:nth-child(3) {
				margin-bottom: var(--ma50);
				.good__message {
					margin: 0;
					max-width: 100%;
					text-align: left;
					&-title {
						margin-bottom: var(--ma20);
					}
					&-textbox {
						.list {
							gap: var(--gap30);
						}
					}
				}
			}
			&:nth-child(4),
			&:nth-child(5) {
				margin-bottom: var(--ma40);
				.good__image {
					width: 100%;
					max-width: clamp(380px, 30.84vw, 586px);
					img {
						margin: 0 auto;
						width: 100%;
					}
				}
				.good__message {
					width: 100%;
					max-width: clamp(190px, 15vw, 285px);
					text-align: left;
					&-legends {
						margin-bottom: var(--ma10);
						img {
							max-width: clamp(90px, 7.89vw, 150px);
							margin-bottom: clamp(0px, 0.63vw, 12px);
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
					&-subtitle {
						font-family: var(--font-second);
						font-weight: 400;
						font-size: var(--fz12);
						line-height: 125%;
						color: var(--clr-black);
					}
				}
			}
			&:nth-child(4) {
				margin-bottom: var(--ma32);
				.good__image {
					gap: var(--gap30);
					img {
						max-width: clamp(150px, 14vw, 266px);
					}
				}
			}
		}
	}
	.test__content_var4 {
		.top {
			margin: 0 auto;
			max-width: clamp(540px, 52.1vw, 990px);
			gap: var(--gap40);
			&:nth-child(1) {
				margin-bottom: var(--ma50);
				.left {
					border-radius: clamp(20px, 2.1vw, 40px);
					padding: clamp(16px, 1.57vw, 30px) clamp(16px, 2.1vw, 40px);
					width: 58%;
					text-align: left;
					.title {
						font-size: var(--fz22);
						line-height: 136%;
						&:first-child {
							margin-bottom: var(--ma16);
						}
					}
				}
				.right {
					width: 36%;
					.title {
						font-size: var(--fz22);
						line-height: 136%;
						margin-bottom: var(--ma10);
					}
				}
			}
			&:nth-child(2) {
				margin-bottom: var(--ma30);
				.left {
					width: 38%;
					.question {
						text-align: left;
					}
				}
				.right {
					width: 52%;
					img {
						width: 100%;
					}
				}
			}
		}
		.grid {
			margin: 0 auto;
			margin-top: clamp(20px, 2.46vw, 32px);
			max-width: clamp(540px, 52.1vw, 990px);
		}
	}
	.test__result_var4 {
		.good__warning {
			margin: 0 auto;
			width: max-content;
			img {
				width: 100%;
				max-width: clamp(30px, 2.63vw, 50px);
				margin-right: var(--ma12);
			}
			&_text {
				font-family: var(--font-second);
				font-weight: 600;
				font-size: var(--fz16);
				line-height: 136%;
			}
		}
		.good__box {
			&:nth-child(1) {
				.good__message {
					text-align: center;
					width: 100%;
				}
			}
			&:nth-child(3) {
				margin: 0 auto;
				margin-top: var(--ma44);
				p {
					width: 44%;
					line-height: 136%;
				}
				img {
					width: 48%;
				}
			}
			&:nth-child(4) {
				margin-top: var(--ma40);
				.good__message {
					margin: 0;
					width: 42%;
					&-title {
						margin: 0;
					}
					&-list {
						margin-top: var(--ma16);
						li {
							text-align: left;
							margin-bottom: var(--ma12);
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
				.good__imagebox {
					margin: 0;
					width: 49%;
					.good__message-title {
						margin-bottom: var(--ma20);
						text-align: center;
					}
					img {
						margin: 0 auto;
					}
					.good__button {
						margin-top: var(--ma40);
					}
				}
			}
		}
	}
	.test__content_var5 {
		.question {
			margin: 0 auto;
			width: 100%;
			max-width: 100%;
		}
		.grid-item p {
			max-width: clamp(290px, 20vw, 380px);
		}
	}
	.test__result_var5 {
		.good__box {
			&:nth-child(1) {
				margin: 0 auto;
				margin-bottom: var(--ma30);
				.good__message {
					text-align: center;
					width: 100%;
				}
			}
			&:nth-child(2) {
				margin: 0 auto;
				margin-bottom: var(--ma40);
				.good__message {
					margin: 0 auto;
					max-width: clamp(530px, 52.1vw, 990px);
					width: 100%;
					&-title {
						margin: 0 auto;
						margin-bottom: var(--ma16);
						text-align: center;
					}
					&-list {
						margin: 0 auto;
						gap: var(--ma30);
						max-width: clamp(530px, 43.15vw, 820px);
						width: 100%;
						li {
							margin-bottom: 0;
							text-align: left;
						}
					}
				}
			}
			&:nth-child(3),
			&:nth-child(4) {
				margin: 0 auto;
				margin-bottom: var(--ma40);
				.good__message {
					margin: 0 auto;
					max-width: clamp(530px, 52.1vw, 990px);
					width: 100%;
					&-textbox p {
						margin: 0 auto;
						max-width: clamp(450px, 43.15vw, 820px);
						width: 100%;
						font-family: var(--font-second);
						font-weight: 400;
						font-size: var(--fz22);
						line-height: 136%;
						color: var(--clr-black);
						text-align: center;
					}
				}
			}
			&:nth-child(4) {
				.good__message-textbox p {
					font-weight: 500;
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.wrapper-cognitive3 {
		.modal-box {
			.modal-content {
				max-width: 100%;
				gap: clamp(10px, 1.95vw, 20px);
				&__item:nth-child(1) {
					gap: clamp(10px, 1.95vw, 20px);
					width: 33%;
				}
				&__item:nth-child(2) {
					gap: clamp(10px, 1.95vw, 20px);
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.wrapper-cognitive3 {
		.modal-box {
			.modal-content {
				flex-direction: column;
				&__item:nth-child(1),
				&__item:nth-child(2) {
					width: 100%;
				}
			}
		}
		.test__result_var3 {
			.good__box {
				&:nth-child(2) {
					.good__message {
						width: 54%;
					}
				}
			}
		}
		.test__content_var5 {
			.grid {
				grid-template-columns: 1fr;
				&-item p {
					max-width: 460px;
				}
				&-item:nth-child(2) p {
					max-width: 360px;
				}
			}
		}
	}
}

@media (max-width: 700px) {
	.wrapper-cognitive3 {
		.modal-box {
			.modal-content {
				&__list {
					margin-right: 0;
				}
			}
		}
		._1 {
			.section__content {
				.clincase {
					&__listbox {
						gap: 8px;
					}
					&__list,
					&__list:first-child {
						max-width: 100%;
					}
					&__research {
						align-items: flex-start;
					}
				}
			}
		}
		.test__content_var1 {
			.grid {
				margin: 0 auto;
				margin-top: clamp(20px, 2.46vw, 32px);
				grid-template-columns: 1fr;
				max-width: 320px;
				&-item p {
					max-width: 100%;
					br {
						display: none;
					}
				}
			}
		}
		.test__result_var2 {
			.good__box {
				&:nth-child(3) {
					.good__image {
						&-scheme:nth-child(1) {
							margin: 0 auto;
							max-width: clamp(250px, 53.33vw, 320px);
							width: 100%;
						}
						&-scheme:nth-child(2) {
							margin: 0 auto;
							max-width: clamp(270px, 56.66vw, 340px);
							width: 100%;
						}
					}
				}
			}
		}
		.test__result_var3 {
			.good__box {
				&:nth-child(2) {
					.good__message {
						width: 100%;
						&-textbox {
							.list {
								&:nth-child(2) {
									.list {
										max-width: 280px;
										margin-left: 20px;
									}
								}
							}
						}
					}
					.good__image {
						margin-top: var(--ma20);
						width: 100%;
						img {
							margin: 0 auto;
							max-width: clamp(260px, 55.71vw, 390px);
							width: 100%;
						}
					}
				}
				&:nth-child(4),
				&:nth-child(5) {
					.good__image {
						max-width: 100%;
						margin-bottom: var(--ma20);
						width: 100%;
						img {
							max-width: clamp(260px, 55.71vw, 260px);
							width: 45%;
						}
					}
					.good__message {
						margin: 0 auto;
						max-width: 280px;
						&-legends {
							flex-direction: row;
							justify-content: center;
							gap: var(--gap40);
							margin: 0 auto;
							img {
								max-width: 100px;
							}
						}
					}
				}
				&:nth-child(5) {
					.good__image {
						img {
							margin: 0 auto;
							max-width: 100%;
							width: 100%;
						}
					}
				}
			}
		}
		.test__content_var4 {
			.grid {
				grid-template-columns: 1fr;
				max-width: 320px;
			}
		}
		.test__result_var4 {
			.good__warning {
				max-width: 485px;
				width: 100%;
			}
			.good__box {
				&:nth-child(3) {
					gap: 20px;
					p {
						width: 100%;
						text-align: center;
					}
					img {
						margin: 0 auto;
						max-width: clamp(260px, 55.71vw, 390px);
						width: 100%;
					}
				}
				&:nth-child(4) {
					margin-top: var(--ma40);
					gap: 20px;
					.good__message {
						width: 100%;
						&-title {
							text-align: center;
						}
						&-list {
							margin: 0 auto;
							margin-top: var(--ma16);
							max-width: 460px;
						}
					}
					.good__imagebox {
						width: 100%;
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.wrapper-cognitive3 {
		.test__content_var1 {
			.grid {
				grid-template-columns: 1fr;
			}
		}
		.test__result_var1 {
			.good__box {
				&:nth-child(3) {
					.good__message {
						&-listbox {
							flex-direction: column;
							gap: 0px;
						}
					}
				}
			}
		}

		.test__content_var2 {
			.top {
				gap: 20px;
				max-width: 100%;
				.left {
					width: 100%;
				}
				.right {
					width: 100%;
					img {
						margin: 0 auto;
						max-width: clamp(260px, 53.33vw, 320px);
						width: 100%;
					}
				}
			}
			.grid {
				grid-template-columns: 1fr;
				&-item {
					p {
						max-width: 100%;
					}
				}
			}
		}
		.test__content_var4 {
			.top {
				gap: 20px;
				&:nth-child(1),
				&:nth-child(2) {
					.left,
					.right {
						width: 100%;
					}
				}
				&:nth-child(2) {
					flex-direction: column-reverse;
					.left {
						.question {
							text-align: center;
						}
					}
					.right {
						img {
							margin: 0 auto;
							max-width: clamp(260px, 53.33vw, 320px);
							width: 100%;
						}
					}
				}
			}
			.grid {
				grid-template-columns: 1fr;
			}
		}
		.test__result_var4 {
			.good__box {
				&:nth-child(2) {
					.good__message {
						max-width: 100%;
						&-title {
							margin: 0 auto;
							max-width: 100%;
						}
						&-list {
							flex-direction: column;
							align-items: flex-start;
							li {
								margin-bottom: 0;
								text-align: left;
							}
						}
					}
				}
			}
		}
		.test__result_var5 {
			.good__box {
				&:nth-child(2) {
					.good__message {
						max-width: 100%;
						&-title {
							text-align: left;
						}
						&-list {
							flex-direction: column;
							gap: 8px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.wrapper-cognitive3 {
		._1 {
			.section__content {
				.info__box_col:first-child,
				.info__box_col:last-child {
					width: 100%;
				}
				.info__box-title {
					max-width: 100%;
				}
				.clincase {
					&__image-mob {
						max-width: clamp(200px, 52vw, 260px);
					}
					&__research {
						gap: 24px;
					}
				}
				.button-help {
					max-width: 200px;
					padding: 13px;
				}
			}
		}
		.test__content_var1 {
			.grid {
				max-width: 100%;
			}
		}
		.test__result_var1 {
			.good__box {
				&:nth-child(3) {
					.good__message {
						&:nth-child(2) {
							.good__message-textbox {
								flex-direction: column;
								.list {
									width: 100%;
									&:nth-child(2) {
										width: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
		.test__content_var3 {
			.top {
				flex-direction: column;
				.left,
				.right {
					width: 100%;
				}
				.middle {
					margin: 4px auto;
					width: 100%;
					max-width: 12px;
					rotate: 90deg;
				}
			}
		}
		.test__content_var4 {
			.grid {
				max-width: 100%;
			}
		}

		.test__result_var3 {
			.good__box {
				&:nth-child(2) {
					.good__message-textbox {
						gap: var(--gap30);
						.list:nth-child(1),
						.list:nth-child(2) {
							width: 100%;
						}
					}
				}
				&:nth-child(4) {
					.good__image {
						flex-direction: column;
						img {
							max-width: 250px;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 430px) {
	.wrapper-cognitive3 {
		.test__result_var3 {
			.good__box {
				&:nth-child(3) {
					.good__message-textbox .list li {
						width: 40%;
						&:first-child {
							width: 55%;
						}
					}
				}
			}
		}
	}
}
