.wrapper-nociceptive1 {
	.modal-box {
		.modal-content {
			margin: 0 auto;
			max-width: clamp(530px, 47.36vw, 900px);
			&__item:nth-child(1) {
				width: 50%;
				.modal-content__title {
					margin-bottom: var(--ma12);
				}
			}
			&__item:nth-child(2) {
				width: 50%;
				.modal-content__title {
					margin-bottom: var(--ma12);
				}
				.list4 {
					gap: var(--gap15);
				}
			}
		}
	}
	._1 {
		.section__content {
			.info__box {
				&_wrapper {
					gap: var(--gap15);
					justify-content: flex-start;
				}
				&_white {
					padding: clamp(10px, 0.84vw, 16px) clamp(10px, 1.05vw, 20px);
					text-align: left;
					height: auto;
					max-width: clamp(124px, 10.52vw, 200px);
					.info__box-title b {
						font-family: var(--font-second);
						font-weight: 400;
						font-size: var(--fz22);
						line-height: 123%;
					}
					.info__box-subtitle {
						margin-top: 4px;
						font-family: var(--font-second);
						font-weight: 400;
						font-size: var(--fz16);
						line-height: 123%;
					}
				}
				&_col:first-child {
					width: 44%;
				}
				&_col:last-child {
					width: 50%;
					.info__box-title {
						max-width: clamp(150px, 12.1vw, 230px);
						max-width: 100%;
					}
				}
				&-title {
					line-height: 123%;
					max-width: clamp(220px, 22.1vw, 420px);
					max-width: 100%;
					strong {
						font-weight: 500;
						color: var(--clr-violet);
					}
				}
				&-list {
					li {
						line-height: 112%;
						margin-bottom: var(--ma10);
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
			.clincase {
				margin-top: var(--ma60);
				&__list {
					width: 100%;
					max-width: 100%;
				}
				&__title {
					max-width: 100%;
				}
				&__image-desktop {
					max-width: clamp(280px, 21.05vw, 400px);
				}
				&__image-mob {
					max-width: clamp(280px, 21.05vw, 400px);
				}
				&__image-desktop,
				&__image-mob {
					p {
						margin: 0 auto;
						margin-right: clamp(50px, 4.73vw, 90px);
						@media (max-width: 600px) {
							margin-right: clamp(20px, 5vw, 30px);
						}
						@media (max-width: 500px) {
							margin-right: clamp(6px, 4vw, 20px);
						}
						@media (max-width: 375px) {
							margin-right: 3%;
						}
					}
				}
				&__listbox {
					gap: var(--gap40);
				}
				&__research {
					gap: var(--gap20);
					&_text {
						width: 100%;
					}
					&_button {
						max-width: clamp(200px, 16.31vw, 310px);
					}
				}
			}
		}
	}
	.test__content_var1 {
		.title {
			margin-bottom: var(--ma22);
			font-family: var(--font-second);
			font-weight: 500;
			font-size: var(--fz22);
			line-height: 123%;
			text-align: center;
			color: var(--clr-black);
		}
		.subtitle {
			margin-bottom: var(--ma44);
			font-family: var(--font-second);
			font-weight: 600;
			font-size: var(--fz16);
			line-height: 150%;
			text-align: center;
			color: var(--clr-black);
		}
		.question {
			margin: 0 auto;
			max-width: clamp(320px, 31.05vw, 590px);
			max-width: 100%;
		}
		.note {
			margin-top: 8px;
			font-family: var(--font-second);
			font-weight: 300;
			font-size: var(--fz10);
			font-size: 10px;
			line-height: 144%;
			text-align: center;
			color: #4b5563;
		}
	}
	.test__result_var1 {
		.good__box {
			&:nth-child(1) {
				margin-bottom: var(--ma30);
				.good__message {
					text-align: center;
					width: 100%;
				}
			}
			&:nth-child(3) {
				padding: clamp(16px, 2.52vw, 48px);
				margin: 0 auto;
				margin-top: var(--ma44);
				width: 100%;
				.good__imagebox {
					gap: var(--ma16);
					img {
						width: 100%;
						&:first-child {
							max-width: 51%;
						}
						&:last-child {
							max-width: 42%;
						}
					}
				}
				.good__box_bottom {
					margin-top: var(--ma22);
					font-family: var(--font-second);
					font-weight: 400;
					font-size: var(--fz14);
					line-height: 143%;
					color: var(--clr-violet);
				}
			}
		}
		.good__warning {
			margin: 0 auto;
			img {
				width: 100%;
				max-width: clamp(30px, 2.63vw, 50px);
				margin-right: var(--ma12);
			}
			&_text {
				font-family: var(--font-second);
				font-weight: 400;
				font-size: var(--fz16);
				line-height: 136%;
			}
		}
	}
	.test__content_var2 {
		.top {
			margin: 0 auto;
			margin-bottom: var(--ma44);
			.left {
				width: 36%;
				.title {
					margin-bottom: var(--ma16);
					font-family: var(--font-second);
					font-weight: 500;
					font-size: var(--fz22);
					line-height: 123%;
					color: var(--clr-black);
				}
				.list {
					max-width: clamp(230px, 18.94vw, 360px);
				}
			}
			.right {
				width: 60%;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: var(--gap20);
				img {
					max-width: clamp(155px, 11.78vw, 224px);
				}
				.title {
					margin-bottom: 0;
					font-family: var(--font-second);
					font-weight: 600;
					font-size: var(--fz22);
					line-height: 123%;
					color: var(--clr-black);
					text-align: left;
				}
			}
		}
		.question {
			margin: 0 auto;
			width: 100%;
			max-width: 100%;
		}
	}
	.test__result_var2 {
		.good__content {
			margin: 0 auto;
			max-width: clamp(460px, 42.1vw, 800px);
		}
		.good__box {
			&:nth-child(1) {
				margin-bottom: var(--ma50);
			}

			&:nth-child(2) {
				margin-bottom: var(--gap30);
				max-width: 100%;
				.good__message {
					margin: 0 auto;
					width: 48%;
					&:nth-child(2) {
						background: #cff5fb;
					}
					&-title {
						margin: 0;
						font-family: var(--font-second);
						font-weight: 500;
						font-size: var(--fz22);
						line-height: 123%;
						color: var(--clr-black);
						text-align: left;
					}
					&-numbox {
						margin-top: var(--ma12);
						margin-bottom: var(--ma12);
						img {
							width: 100%;
							max-width: clamp(9px, 0.78vw, 15px);
							margin-right: var(--ma12);
						}
						p {
							margin-top: 0.2em;
							font-family: var(--font-main);
							font-weight: 600;
							font-size: var(--fz33);
							line-height: 100%;
							letter-spacing: -1px;
							color: var(--clr-violet);
						}
					}
					&-text {
						margin-top: 0;
						font-family: var(--font-second);
						font-weight: 400;
						font-size: var(--fz16);
						line-height: 136%;
						text-align: left;
					}
				}
			}
			&:nth-child(3) {
				margin: 0 auto;
				max-width: 100%;
				border-radius: clamp(10px, 1.05vw, 20px);
				.good__message {
					&_title {
						margin: 0 auto;
						font-family: var(--font-second);
						font-weight: 600;
						font-size: var(--fz16);
						line-height: 138%;
						text-align: center;
						color: var(--clr-violet);
						max-width: clamp(260px, 24.73vw, 470px);
					}
				}
			}
		}
	}
	.test__content_var3 {
		.test__content_title {
			margin-bottom: var(--ma22);
			font-family: var(--font-second);
			font-weight: 500;
			font-size: var(--fz22);
			line-height: 123%;
			color: var(--clr-black);
			text-align: center;
		}
		.top {
			margin: 0 auto;
			margin-bottom: var(--ma50);
			display: flex;
			gap: var(--ma30);

			.left {
				margin: 0;
				width: 40%;
				max-width: 100%;
				.title {
					margin-bottom: 0;
					font-family: var(--font-second);
					font-weight: 400;
					font-size: var(--fz22);
					line-height: 123%;
					color: var(--clr-black);
					text-align: left;
				}
			}
			.right {
				width: 56%;
				max-width: 100%;
				.list li {
					width: 100%;
				}
			}
		}
		.question {
			font-weight: 600;
			line-height: 136%;
			max-width: 100%;
		}
		.grid {
			margin: 0 auto;
			margin-top: clamp(20px, 2.46vw, 32px);
		}
	}
	.test__result_var3 {
		.good__box {
			&:nth-child(1) {
				margin-bottom: var(--ma30);
			}
			&:nth-child(2) {
				margin-bottom: var(--ma30);
				gap: var(--gap46);
				max-width: clamp(460px, 47.36vw, 900px);
				.good__image {
					width: 33%;
					margin: 0;
					img {
						margin: 0 auto;
						width: 100%;
						max-width: clamp(155px, 13.94vw, 265px);
					}
				}
				.good__message {
					margin: 0 auto;
					width: 60%;
					&-title {
						line-height: 123%;
						text-align: left;
					}
					&-list {
						margin-top: var(--ma22);
						li {
							margin-bottom: var(--ma12);
							display: flex;
							align-items: center;
							justify-content: flex-start;
							text-align: left;
							&:last-child {
								margin-bottom: 0;
							}
						}
						img {
							width: 100%;
							max-width: clamp(16px, 1.68vw, 32px);
							margin-right: var(--ma16);
						}
						p {
							font-family: var(--font-second);
							font-weight: 400;
							font-size: var(--fz16);
							line-height: 131%;
							color: var(--clr-black);
						}
					}
					&-text {
						font-family: var(--font-second);
						font-weight: 400;
						font-size: var(--fz16);
						line-height: 136%;
					}
				}
			}
			&:nth-child(3) {
				margin-bottom: var(--ma40);
				max-width: 100%;
				.good__message {
					margin: 0 auto;
					max-width: 100%;
					&-title {
						width: 60%;
						margin: 0;
						font-family: var(--font-second);
						font-weight: 400;
						font-size: var(--fz22);
						line-height: 123%;
						color: var(--clr-black);
						text-align: left;
					}
					&-list {
						width: 35%;
						margin: 0;
						li {
							margin-bottom: var(--ma12);
							&:last-child {
								margin-bottom: 0;
							}
							font-family: var(--font-second);
							font-weight: 400;
							font-size: var(--fz16);
							line-height: 121%;
							color: var(--clr-black);
							text-align: left;
						}
					}
				}
			}
		}
	}
	.test__content_var4 {
		.question {
			max-width: clamp(460px, 41.05vw, 780px);
		}
		.grid {
			margin: 0 auto;
			margin-top: var(--ma32);
			max-width: 100%;
		}
	}
	.test__result_var4 {
		.good__box {
			&:nth-child(1) {
				margin-bottom: var(--ma30);
				.good__message {
					width: 100%;
					text-align: center;
				}
			}
			&:nth-child(2) {
				margin-bottom: var(--ma30);
				gap: var(--gap46);
				max-width: clamp(570px, 47.36vw, 900px);
				.good__image {
					width: 33%;
					margin: 0;
					img {
						margin: 0 auto;
						width: 100%;
						max-width: clamp(155px, 13.94vw, 265px);
					}
				}
				.good__message {
					margin: 0 auto;
					width: 60%;
					&-title {
						line-height: 123%;
						text-align: left;
					}
					&-list {
						margin-top: var(--ma12);
						li {
							margin-bottom: var(--ma12);
							display: flex;
							align-items: center;
							justify-content: flex-start;
							text-align: left;
							&:last-child {
								margin-bottom: 0;
							}
						}
						img {
							width: 100%;
							max-width: clamp(16px, 1.68vw, 32px);
							margin-right: var(--ma16);
						}
						p {
							font-family: var(--font-second);
							font-weight: 400;
							font-size: var(--fz16);
							line-height: 131%;
							color: var(--clr-black);
						}
					}
					&-text {
						font-family: var(--font-second);
						font-weight: 400;
						font-size: var(--fz16);
						line-height: 136%;
					}
				}
			}
			&:nth-child(3) {
				margin-bottom: var(--ma40);
				max-width: 100%;
				gap: var(--gap20);
				.good__message {
					margin: 0 auto;
					max-width: 100%;
					border-radius: clamp(10px, 1.05vw, 20px);
					&-title {
						margin: 0;
						margin-bottom: var(--ma16);
						font-family: var(--font-second);
						font-weight: 400;
						font-size: var(--fz22);
						line-height: 123%;
						color: var(--clr-black);
						text-align: center;
					}
					&_textbox {
						margin: 0 auto;
						justify-content: center;
						max-width: clamp(100px, 18.42vw, 350px);
						max-width: max-content;
						img {
							max-width: clamp(15px, 1.05vw, 20px);
							width: 100%;
						}
						.text {
							margin: 0 auto;
							margin-top: clamp(3px, 0.21vw, 4px);
							margin-left: 2px;
							font-family: var(--font-second);
							font-weight: 600;
							font-size: var(--fz16);
							line-height: 100%;
							color: var(--clr-violet);
							text-align: left;
						}
					}
					&:nth-child(1) {
						width: 58%;
						padding: clamp(12px, 1.26vw, 24px);
						.good__message-title {
							font-weight: 500;
						}
						.good__message-box {
							gap: var(--ma12);
							&_item:nth-child(1) {
								width: 46%;
								padding: clamp(10px, 0.94vw, 18px);
								border-radius: clamp(10px, 1.05vw, 20px);
								background: #cff5fb;
								display: flex;
								align-items: center;
								justify-content: center;
								.text {
									font-family: var(--font-second);
									font-weight: 400;
									font-size: var(--fz16);
									line-height: 131%;
									color: var(--clr-black);
									text-align: center;
								}
							}
							&_item:nth-child(2) {
								width: 5%;
								align-self: center;
								img {
									margin: 0 auto;
									max-width: clamp(14px, 1.26vw, 24px);
									width: 100%;
								}
							}
							&_item:nth-child(3) {
								width: 46%;
								padding: clamp(10px, 0.94vw, 18px);
								border-radius: clamp(10px, 1.05vw, 20px);
								display: flex;
								align-items: center;
								justify-content: center;
								.text {
									font-family: var(--font-second);
									font-weight: 600;
									font-size: var(--fz16);
									line-height: 131%;
									color: var(--clr-black);
									text-align: center;
								}
							}
						}
					}
					&:nth-child(2) {
						width: 40%;
						padding: clamp(12px, 1.26vw, 24px);
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
					}
				}
			}
		}
	}
	.test__content_var5 {
		.question {
			margin: 0 auto;
			width: 100%;
			max-width: 100%;
		}
	}
	.test__result_var5 {
		.good__box {
			&:nth-child(1) {
				margin: 0 auto;
				margin-bottom: var(--ma30);
				.good__message {
					text-align: center;
					width: 100%;
				}
			}
			&:nth-child(2) {
				margin: 0 auto;
				margin-bottom: var(--ma40);
				.good__message {
					margin: 0 auto;
					width: 40%;
					&-title {
						margin: 0 auto;
						margin-bottom: var(--ma16);
						text-align: left;
					}
					&-list {
						li {
							text-align: left;
							margin-bottom: var(--ma10);
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
					&:last-child {
						width: 50%;
						.good__message {
							&-title {
								font-weight: 600;
								color: var(--clr-violet);
							}
							&-subtitle {
								font-family: var(--font-second);
								font-weight: 400;
								font-size: var(--fz16);
								line-height: 150%;
								color: var(--clr-black);
								text-align: left;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.wrapper-nociceptive1 {
		.modal-box {
			.modal-content {
				gap: clamp(10px, 1.95vw, 20px);
			}
		}
	}
}
@media (max-width: 768px) {
	.wrapper-nociceptive1 {
		.modal-box {
			.modal-content {
				flex-direction: column;
				&__item:nth-child(1),
				&__item:nth-child(2),
				&__item:nth-child(3) {
					width: 100%;
				}
			}
		}
		.test__result_var1 {
			.good__box {
				&:nth-child(3) {
					.good__message {
						width: 42%;
						&:last-child {
							width: 52%;
						}
					}
				}
			}
		}
		.test__result_var3 {
			.good__box {
				&:nth-child(2) {
					.good__message {
						width: 52%;
					}
				}
			}
		}
		.test__result_var5 {
			.good__box {
				&:nth-child(2) {
					.good__message {
						width: 45%;
						&:last-child {
							width: 50%;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 700px) {
	.wrapper-nociceptive1 {
		._1 {
			.section__content {
				.clincase {
					&__listbox {
						gap: 8px;
					}
					&__list,
					&__list:first-child {
						max-width: 100%;
					}
					&__research {
						align-items: flex-start;
					}
				}
			}
		}
		.test__content_var1 {
			.grid {
				margin: 0 auto;
				margin-top: clamp(20px, 2.46vw, 32px);
				max-width: 480px;
				&-item p {
					max-width: 100%;
					br {
						display: none;
					}
				}
			}
		}
		.test__content_var3 {
			.top {
				flex-direction: column;
				max-width: 530px;
				gap: 16px;
				margin-bottom: 20px;
				.left,
				.right {
					width: 100%;
				}
				.right .title {
					text-align: center;
				}
			}
		}

		.test__result_var2 {
			.good__box {
				&:nth-child(2) {
					.good__message {
						width: 100%;
						&:last-child {
							width: 100%;
						}
					}
				}
			}
		}
		.test__result_var3 {
			.good__box {
				&:nth-child(2) {
					flex-direction: row;
				}
			}
		}
		.test__result_var4 {
			.good__box {
				&:nth-child(2) {
					.good__image {
						max-width: 100%;
						width: 100%;
						img {
							margin: 0 auto;
							max-width: clamp(180px, 36.66vw, 220px);
							width: 100%;
						}
					}
					.good__message {
						max-width: 100%;
						width: 100%;
						&-title {
							text-align: center;
						}
						&-list {
							margin-top: var(--ma16);
						}
					}
				}
				&:nth-child(3) {
					.good__message {
						&:nth-child(1),
						&:nth-child(2) {
							width: 100%;
						}
						&-box_item {
							&:nth-child(1),
							&:nth-child(3) {
								p {
									margin: 0 auto;
									max-width: 160px;
								}
							}
						}
					}
				}
			}
		}
		.test__result_var5 {
			.good__box {
				&:nth-child(2) {
					.good__message {
						width: 100%;
						&:last-child {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.wrapper-nociceptive1 {
		._1 {
			.section__content {
				.info__box {
					flex-direction: column;
					gap: 15px;
					&_white {
						max-width: 160px;
					}
				}
				.info__box_col:first-child,
				.info__box_col:last-child {
					width: 100%;
					.info__box-title,
					.info__box-subtitle {
						max-width: 100%;
					}
				}
				.info__box-title {
					max-width: 100%;
				}
			}
		}
		.test__content_var1 {
			.grid {
				grid-template-columns: 1fr;
			}
		}
		.test__result_var1 {
			.good__box {
				&:nth-child(3) {
					.good__imagebox {
						flex-direction: column;
						width: 100%;
						gap: 20px;
						img {
							&:first-child {
								max-width: 100%;
							}
							&:last-child {
								max-width: clamp(260px, 53.33vw, 320px);
							}
						}
					}
				}
			}
		}

		.test__content_var2 {
			.top {
				flex-direction: column-reverse;
				gap: 20px;
				margin: 0 auto;
				margin-bottom: var(--ma44);

				width: 100%;
				.left {
					width: 100%;
					max-width: 310px;
					.title {
						text-align: center;
					}
					.list {
						max-width: 100%;
					}
				}
				.right {
					width: 100%;
					flex-direction: column-reverse;
					.title {
						text-align: center;
					}
					img {
						margin: 0 auto;
						max-width: clamp(240px, 50vw, 300px);
						width: 100%;
					}
				}
			}
			.grid {
				grid-template-columns: 1fr;
			}
		}
		.test__result_var3 {
			.good__box {
				&:nth-child(2) {
					flex-direction: column;
					.good__message,
					.good__image {
						width: 100%;
					}
					.good__message {
						margin: 0 auto;
						max-width: 310px;
						&-title {
							text-align: center;
						}
					}
					.good__image img {
						margin: 0 auto;
						max-width: clamp(180px, 36.66vw, 220px);
						width: 100%;
					}
				}
				&:nth-child(3) {
					.good__message {
						flex-direction: column;
						width: 100%;
						gap: var(--gap40);
						&-title,
						&-list {
							width: 100%;
						}
					}
				}
			}
		}
		.test__content_var3 {
			.grid {
				grid-template-columns: 1fr;
			}
		}
		.test__content_var4 {
			.grid {
				grid-template-columns: 1fr;
				max-width: 100%;
				&-item p {
					max-width: 100%;
					br {
						display: none;
					}
				}
			}
		}
		.test__content_var5 {
			.grid {
				grid-template-columns: 1fr;
				&-item p br {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.wrapper-nociceptive1 {
		.modal-box {
			.modal-content {
				&__item:nth-child(2) {
					.list4 {
						flex-direction: column;
						gap: 0;
					}
				}
			}
		}
		._1 {
			.section__content {
				.info__box_col:first-child,
				.info__box_col:last-child {
					width: 100%;
					.info__box-title,
					.info__box-subtitle {
						max-width: 100%;
					}
				}
				.info__box-title {
					max-width: 100%;
				}
				.clincase {
					&__image-mob {
						max-width: clamp(220px, 52vw, 260px);
						margin-right: clamp(70px, 25vw, 135px);
						@media (max-width: 425px) {
							margin-right: clamp(80px, 22vw, 100px);
						}
						@media (max-width: 375px) {
							margin-right: clamp(60px, 20vw, 80px);
						}
					}
					&__research {
						gap: 24px;
					}
				}
				.button-help {
					max-width: 200px;
					padding: 13px;
				}
			}
		}
		.test__result_var1 {
			.good__box {
				&:nth-child(3) {
					.good__message {
						&:nth-child(2) {
							.good__message-textbox {
								flex-direction: column;
								.list {
									width: 100%;
									&:nth-child(2) {
										width: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
		.test__content_var2 {
			.top {
				.right {
					img {
						max-width: clamp(180px, 42vw, 210px);
					}
				}
			}
		}
		.test__content_var3 {
			.top {
				flex-direction: column;
				.left,
				.right {
					width: 100%;
				}
				.middle {
					margin: 4px auto;
					width: 100%;
					max-width: 12px;
					rotate: 90deg;
				}
			}
		}
	}
}
