.wrapper-pain {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;

  /* 	height: 100vh;
	overflow-y: auto; */

  width: 100%;
  margin: 0 auto;
  padding: 0;

  background: url('../assets/images/bg_main.jpg');
  background-size: cover;
  background-position: center 60px;
  background-repeat: no-repeat;
  @media (max-width: 1000px) {
    background: url('../assets/images/bg_main.jpg');
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  @media (max-width: 700px) {
    background: url('../assets/images/bg_main.jpg');
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  @media (max-width: 500px) {
    background: url('../assets/images/bg_main.jpg');
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

/* SECTIONS: START */
._1 {
  .section__content {
    padding-top: var(--ma44);
    .info__box {
      padding: var(--ma40) var(--ma50);
      gap: var(--ma30);
      &_col:first-child {
        width: 55%;
      }
      &_col:last-child {
        width: 45%;
      }
      &-title {
        font-family: var(--font-second);
        font-weight: 500;
        font-size: var(--fz22);
        line-height: 123%;
        color: var(--clr-black);
        &:not(:first-child) {
          margin-top: var(--ma22);
        }
        margin-bottom: 10px;
        strong {
          font-weight: 500;
        }
      }

      &-list {
        gap: var(--gap20);
        flex-wrap: wrap;
      }
      &_white {
        background: var(--clr-white);
        padding: var(--ma44) var(--ma50);
        border-radius: clamp(10px, 1.05vw, 20px);
        height: 100%;
        text-align: center;
        .info__box-title {
          margin-bottom: 0;
          font-family: var(--font-main);
          font-weight: 700;
          font-size: var(--fz22);
          line-height: 127%;
          letter-spacing: -0.6px;
          color: var(--clr-violet);
        }
        .info__box-subtitle {
          margin-top: var(--ma12);
          font-family: var(--font-second);
          font-weight: 500;
          font-size: var(--fz22);
          line-height: 136%;
          color: var(--clr-black);
        }
      }
    }
    .clincase {
      margin-top: var(--ma78);
      gap: var(--gap46);
      &__image-desktop,
      &__image-mob {
        max-width: clamp(220px, 18.94vw, 360px);
        width: 100%;
        p {
          margin: 0 auto;
          padding: clamp(3px, 1vw, 6px) clamp(6px, 2vw, 12px);
          padding: 6px 12px;
          background: #ffffff59;
          border-radius: 80px;
          font-family: var(--font-second);
          font-weight: 400;
          font-size: clamp(6px, 1.16vw, 7px);
          font-size: 7px;
          line-height: 129%;
          text-align: center;
          text-transform: uppercase;
          color: var(--clr-dark);
          max-width: clamp(140px, 26.66vw, 160px);
          max-width: 160px;
        }
      }
      &__image-mob {
        display: none;
      }
      &__descr {
        max-width: clamp(430px, 40vw, 760px);
        width: 100%;
      }
      &__title {
        max-width: clamp(350px, 27.89vw, 530px);
        letter-spacing: -0.6px;
        line-height: 112%;
        &:first-child {
          font-weight: 300;
        }
      }
      &__subtitle {
        margin-top: var(--ma20);
        font-family: var(--font-second);
        font-weight: 500;
        font-size: var(--fz22);
        line-height: 123%;
        color: var(--clr-black);
      }
      &__listbox {
        margin-top: var(--ma16);
        gap: var(--gap70);
      }
      &__list {
        max-width: clamp(140px, 12.1vw, 230px);
        &:first-child {
          max-width: clamp(200px, 21.31vw, 405px);
        }
      }
      &__research {
        margin-top: var(--ma20);
        gap: var(--gap20);
        flex-direction: column-reverse;
        &_text {
          max-width: clamp(290px, 28.94vw, 550px);
          width: 100%;
          font-family: var(--font-second);
          font-weight: 400;
          font-size: var(--fz20);
          line-height: 135%;
          color: var(--clr-black);
        }
        &_button {
          margin: 0;
          max-width: clamp(125px, 13.68vw, 260px);
          max-width: clamp(195px, 13.68vw, 260px);
          max-width: clamp(160px, 16.31vw, 310px);
          width: 100%;
        }
      }
    }
    .button-help {
      margin-top: var(--ma40);
    }
  }
}

._2 {
  padding: 0;
  .section__content {
    padding-top: var(--ma40);
    .test {
      display: none;
      padding: var(--ma60);
      background: var(--clr-white);
      border-radius: clamp(10px, 1.05vw, 20px);
      &__top {
        &_progress,
        &_progress-mob {
          margin: 0 auto;
          margin-bottom: var(--ma70);
          min-height: clamp(24px, 2.2vw, 42px);
          max-width: clamp(460px, 40.52vw, 770px);
          display: flex;
          justify-content: center;
          align-items: flex-start;
          position: relative;
          &-bar {
            margin-top: clamp(4px, 0.36vw, 7px);
            max-width: clamp(428px, 37.47vw, 712px);
            width: 100%;
            height: clamp(2px, 0.15vw, 3px);
            border-radius: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &-segment {
            max-width: 292px;
            width: 100%;
            height: 100%;
            background-color: #eaf3ff;
          }
          .segment-active {
            background-color: #00508f;
          }
          &-points {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
          }
          &-point {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .progress-circle {
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 auto;
              width: clamp(10px, 0.89vw, 17px);
              height: clamp(10px, 0.89vw, 17px);
              background: var(--clr-white);
              border: clamp(2px, 0.15vw, 3px) solid #eaf3ff;
              box-sizing: border-box;
              border-radius: 100%;
              .point-dot {
                display: none;
                background: var(--clr-violet);
                width: clamp(4px, 0.36vw, 7px);
                height: clamp(4px, 0.36vw, 7px);
                border-radius: 50%;
              }
            }
            .progress-question {
              margin-top: clamp(6px, 0.57vw, 11px);
              font-family: var(--font-main);
              font-weight: 500;
              font-size: var(--fz14);
              line-height: 100%;
              text-align: center;
              letter-spacing: -0.01em;
              color: #c7cce7;
            }
          }
          .point-active {
            .progress-question {
              color: var(--clr-black);
              font-weight: 700;
            }
            .progress-circle {
              .point-dot {
                display: block;
              }
            }
          }
          .point-passed {
            .progress-question {
              color: var(--clr-violet);
            }
          }
        }
        &_progress-mob {
          display: none;
          align-items: center;
          margin-bottom: var(--ma40);
          min-height: auto;
          .progress-question-mob {
            margin-top: 0;
            font-family: var(--font-main);
            font-weight: 500;
            font-size: var(--fz22);
            line-height: 100%;
            text-align: center;
            letter-spacing: -0.01em;
            color: #c7cce7;
          }
        }
      }
      .box {
        margin: 0 auto;
        max-width: clamp(600px, 54.73vw, 1040px);
      }

      .good {
        &__content {
          position: relative;
        }
        &__box {
          gap: var(--gap30);
        }
        &__image {
          &-title {
            font-family: var(--font-second);
            font-weight: 400;
            font-size: var(--fz15);
            line-height: 133%;
            text-align: center;
            color: var(--clr-black);
          }
          &-graph {
            margin-right: auto;
            margin-left: auto;
            width: 100%;
          }
        }
        &__message {
          &_no {
            color: var(--clr-red);
          }
          &_ok {
            color: var(--clr-green);
          }
          &-title,
          &-text {
            margin-top: var(--ma16);
            font-family: var(--font-second);
            font-weight: 500;
            font-size: var(--fz22);
            line-height: 130%;
            color: var(--clr-black);
          }
          &-text {
            font-weight: 400;
            line-height: 123%;
          }
          &-list {
            margin-top: var(--ma12);
            li {
              margin-bottom: 5px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        &__button {
          margin-top: var(--ma40);
          max-width: clamp(200px, 19.36vw, 368px);
          width: 100%;
        }
      }

      &__button_block {
        margin: 0 auto;
        margin-top: clamp(10px, 2vw, 26px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: clamp(300px, 64vw, 750px);
      }
      &__button-gray {
        margin: 0 10px;
        margin-top: clamp(20px, 2.3vw, 30px);
      }
    }
  }
}

._3 {
  .section__content {
    padding-top: var(--ma35);
  }
}
/* SECTIONS: END */

@media (max-width: 700px) {
  ._1 {
    .section__content {
      .clincase {
        justify-content: flex-start;
        gap: clamp(16px, 5vw, 35px);
        &__image {
          max-width: clamp(140px, 29.42vw, 206px);
        }
        &__listbox {
          flex-direction: column;
          gap: 8px;
        }
        &__list {
          max-width: 100%;
        }
        &__research {
          flex-direction: column;
          &_text {
            max-width: 250px;
          }
          &_button {
            max-width: 185px;
          }
        }
      }
      .button-help {
        max-width: 185px;
      }
    }
  }
  ._2 {
    .section__content {
      .test {
        .good {
          &__box {
            flex-direction: column;
          }
          &__message,
          &__image {
            width: 100%;
          }
          &__button {
            max-width: clamp(160px, 30vw, 180px);
            max-width: clamp(160px, 28.57vw, 200px);
            padding: clamp(14px, 3vw, 18px);
            p {
              margin-top: 1px;
              font-size: clamp(10px, 2vw, 12px);
              font-size: clamp(12px, 2vw, 14px);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  ._1 {
    .section__content {
      .info__box {
        padding: clamp(16px, 5vw, 30px);
        &_white {
          padding: clamp(16px, 5vw, 30px);
        }
      }
    }
  }
  ._2 {
    .section__content {
      .test {
        padding: clamp(16px, 5vw, 30px);
        &__top {
          &_progress {
            display: none;
          }
          &_progress-mob {
            display: flex;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  ._1 {
    .section__content {
      padding-top: 0;
      .info__box {
        flex-direction: column;
        gap: 20px;
        &_col:first-child,
        &_col:last-child {
          width: 100%;
        }
      }
      .clincase {
        margin-top: 30px;
        flex-direction: column;
        gap: 20px;
        &__image-desktop {
          display: none;
        }
        &__image-mob {
          display: block;
          margin: 0 auto;
          margin-top: 20px;
          align-self: center;
        }
        &__descr {
          max-width: 100%;
        }
        &__title {
          max-width: 100%;
          text-align: center;
        }
        &__list {
          max-width: 100%;
          &:first-child {
            max-width: 100%;
          }
        }
        &__research {
          gap: 24px;
          &_text {
            max-width: 100%;
          }
          &_button {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
@media (max-width: 425px) {
  ._1 {
    .section__content {
      .clincase {
        &__research {
          &_button {
            max-width: 200px;
          }
        }
      }
      .button-help {
        max-width: 200px;
      }
    }
  }
}
