.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  background: url('../assets/images/bg_main.jpg');
  background-size: cover;
  background-position: center -120px;
  background-repeat: no-repeat;
}
@media (max-width: 1000px) {
  .wrapper {
    background: url('../assets/images/bg_main.jpg');
    background-size: clamp(800px, 130.37vw, 1000px);
    background-position: center 4%;
    background-repeat: no-repeat;
  }
}
._main {
  height: 100vh;
  overflow-y: auto;
  .section__content {
    padding-top: clamp(20px, 2.63vw, 50px);
    padding-bottom: clamp(30px, 3.15vw, 60px);
    .intro {
      &__top {
        margin-bottom: var(--ma50);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          margin-right: clamp(80px, 7.36vw, 140px);
          max-width: clamp(120px, 10.89vw, 207px);
        }
        p {
          font-family: var(--font-main);
          font-weight: 500;
          font-size: var(--fz24);
          line-height: 146%;
          text-align: center;
          letter-spacing: -0.6px;
          color: var(--clr-black);
        }
      }
      &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &_text {
          width: clamp(400px, 40vw, 760px);

          h1 {
            margin-top: var(--ma35);
          }
        }
        &_title {
          font-family: var(--font-second);
          font-weight: 400;
          font-size: var(--fz22);
          line-height: 123%;
          color: var(--clr-black);
        }
        &_box {
          margin-top: var(--ma32);
          margin-bottom: var(--ma32);
          margin-left: 0;
          max-width: clamp(400px, 32.84vw, 624px);
          &-title {
            font-family: var(--font-second);
            font-weight: 500;
            font-size: var(--fz22);
            line-height: 123%;
            color: var(--clr-black);
          }
          &-list {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: var(--ma32);
            li {
              margin-top: var(--ma16);
              font-family: var(--font-second);
              font-weight: 400;
              font-size: var(--fz16);
              line-height: 131%;
              color: var(--clr-black);
              max-width: clamp(140px, 11.26vw, 214px);
            }
          }
        }
        &_image {
          width: clamp(200px, 19.57vw, 372px);
          margin-right: clamp(10px, 1.05vw, 20px);
          img {
            margin-left: auto;
            width: 100%;
          }
          p {
            margin: 0 auto;
            margin-top: clamp(8px, 0.63vw, 12px);
            max-width: 130px;
            font-family: var(--font-main);
            font-weight: 400;
            font-size: 7px;
            line-height: 129%;
            text-align: center;
            text-transform: uppercase;
            color: var(--clr-dark);
          }
        }
        &_image-desktop {
          display: block;
        }
        &_image-mobile {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  ._main {
    .section__content {
      .intro {
        &__content {
          gap: 10px;
          &_text {
            max-width: clamp(250px, 57.14vw, 400px);
            width: 100%;
          }
          &_image {
            margin-right: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  ._main {
    .section__content {
      .intro {
        &__top img {
          margin-right: 20px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  ._main {
    .section__content {
      .intro {
        &__top p {
          font-size: 12px;
          line-height: 120%;
          text-align: left;
        }
        &__content {
          flex-direction: column;
          &_text,
          &_image {
            max-width: 100%;
            margin: 0 auto;
          }
          &_box {
            max-width: 312px;
            margin-left: auto;
            margin-bottom: 10px;
            &-list {
              flex-direction: column;
              gap: var(--ma16);
              li {
                max-width: 100%;
                &:last-child {
                  margin-top: 0;
                }
                &:before {
                  top: 3px;
                }
              }
            }
          }
          &_image-desktop {
            display: none;
          }
          &_image-mobile {
            display: block;
            margin: 0;
            margin-top: 20px;
          }
          &_mobileflex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            h1 {
              width: calc(55% - 5px);
            }
            .intro__content_image {
              width: calc(35% - 5px);
              min-width: 130px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 430px) {
  ._main {
    .section__content {
      .intro,
      .footnote,
      .footer {
        margin: 0 auto;
        max-width: 320px;
      }
      .footer {
        margin-top: var(--ma35);
      }
    }
  }
}
@media (max-width: 360px) {
  ._main {
    .section__content {
      .intro {
        &__top p {
          font-size: 10px;
          text-align: center;
        }
        &__content {
          &_title {
            font-size: 16px;
          }
          &_box {
            max-width: 100%;
            &-title {
              font-size: 16px;
            }
          }
          &_mobileflex {
            gap: 6px;
            h1 {
              font-size: 24px;
              line-height: 112%;
            }
          }
        }
      }
    }
  }
}
