*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* html {
	scroll-behavior: smooth;
	@media (max-width: 500px) {
		scroll-behavior: auto;
	}
} */

/* html.mfp-helper {
	body {
		overflow: hidden;
		.wrapper {
			visibility: hidden !important;
			display: none;
			-webkit-overflow-scrolling: none;
		}
	}
} */

body {
	background: $clr-white;
	font-family: $font-calibri;
	font-style: normal;
	font-weight: 300;
	@include adapt(font-size, 16, 20);
	color: $clr-dark;
}
a {
	text-decoration: none !important;
	color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
q,
li {
	margin: 0;
	padding: 0;
	-webkit-font-feature-settings: 'ordn' on;
	font-feature-settings: 'ordn' on;
	-webkit-font-feature-settings: 'pnum' off, 'lnum' on;
	font-feature-settings: 'pnum' off, 'lnum' on;
}

sup {
	font-size: 0.6em;
	top: -0.55em;
	-webkit-font-feature-settings: 'pnum' on, 'lnum' on;
	font-feature-settings: 'pnum' on, 'lnum' on;
	padding-right: 2px;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 600;
	line-height: 120%;
}
h1,
h2 {
	@include adapt(font-size, 51, 84);
	font-family: $font-commissioner;
	letter-spacing: -0.04em;
	background: $grad-text;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
h3 {
	@include adapt(font-size, 27, 46);
	font-family: $font-commissioner;
	letter-spacing: -0.04em;
	background: $grad-text;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	sup {
		background: $grad-sup;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
h4 {
	@include adapt(font-size, 20, 30);
	font-family: $font-commissioner;
	line-height: 130%;
	letter-spacing: -0.02em;
	color: $clr-black;
	i {
		font-style: normal;
		font-weight: 600;
		color: $clr-orange;
	}
}
h5 {
	@include adapt(font-size, 16, 20);
	font-family: $font-commissioner;
	font-weight: 600;
	color: $clr-black;
	i {
		font-style: normal;
		font-weight: 600;
		color: $clr-orange;
	}
}

p {
	@include adapt(font-size, 16, 20);
	line-height: 120%;
	strong {
		font-weight: 700;
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
ol {
	padding: 0;
	margin: 0;
	@include adapt(padding-left, 14, 20);
}
img {
	display: block;
	max-width: 100%;
	padding: 0;
	margin: 0;
}

.mob-scroll {
	overflow-x: auto;
	&::-webkit-scrollbar {
		height: 12px;
		border-radius: 20px;
	}
	&::-webkit-scrollbar-track {
		background-color: rgba(0, 0, 0, 0.05);
		border-radius: 20px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.2);
		border-radius: 20px;
		border: solid 2px transparent;
		border-top-width: 2px;
		border-bottom-width: 2px;
		border-left-width: 2px;
		border-right-width: 2px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background-clip: content-box;
	}
}
.dissappear {
	opacity: 0;
}
.hidden {
	display: none;
}

.list1,
.list2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	@include adapt(gap, 6, 8);
	li {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		img {
			@include adapt(width, 6, 8);
			@include adapt(height, 6, 8);
			@include adapt(margin-top, 6, 8);
			@include adapt(margin-right, 10, 16);
		}
		p {
			@include adapt(font-size, 16, 20);
			line-height: 120%;
			strong {
				font-weight: 700;
			}
		}
	}
}

.list2 {
	li {
		p {
			strong {
				color: $clr-black;
			}
		}
	}
}

.label-orange {
	@include adaptMult(padding, 8 10, 12 16);
	background: $grad-orange;
	max-width: max-content;
	p {
		font-family: $font-commissioner;
		font-weight: 600;
		line-height: 100%;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: $clr-white;
		text-align: center;
	}
}

.box-border {
	@include adapt(padding, 15, 24);
	background: transparent;
	border: 1px solid $clr-border;
}
.box-gray {
	@include adapt(padding, 15, 40);
	background: $clr-gray;
}
.box-white {
	@include adapt(padding, 15, 40);
	background: $clr-white;
}
.box-orange {
	@include adapt(padding, 15, 24);
	background: $grad-orange;
}

.button,
.button_plus,
.openButton {
	cursor: pointer;
	margin: 0 auto;
	padding: 0;
	border: none;
	@include adaptMult(padding, 12 16, 19 32);
	@include adapt(padding-bottom, 14, 25);
	max-width: max-content;
	width: 100%;
	text-decoration: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	box-shadow: 0px clamp(14px, 1.25vw, 24px) clamp(32px, 3.3333vw, 64px) -12px $clr-border;
	background-color: $clr-orange;
	transition: background-color 0.2s linear;
	p {
		@include adapt(font-size, 16, 18);
		font-family: $font-commissioner;
		font-weight: 600;
		line-height: 120%;
		text-align: center;
		color: $clr-white;
	}
	&:hover {
		background-color: $clr-orange-hover;
	}
}
.openButton {
	margin: 0;
	p {
		line-height: 120%;
	}
	img {
		margin-top: 4px;
		@include adapt(width, 10, 12);
		@include adapt(margin-left, 8, 12);
	}
}

.button_zoom {
	display: none;
	width: 100%;
}
.button_plus {
	margin: 0 auto;
	margin-top: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	@include adapt(max-width, 160, 190);
	max-height: 50px;
}

.mfp-close {
	@include adapt(width, 40, 56);
	@include adapt(height, 40, 56);
	@include adapt(font-size, 36, 48);
}
@media (max-width: 700px) {
	.button_zoom {
		display: block;
	}
}

.flexSSB {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.flexSFS {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.flexCSB {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.flexFSSB {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.flexFESB {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.flexFEFS {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.flexC {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.flexCFS {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.flexSC {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.flexFS {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.flexFSC {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.flexFSFE {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

/* 
@media (max-width: 500px) {
	.flexSSB,
	.flexSFS,
	.flexCSB,
	.flexFSSB,
	.flexFESB,
	.flexFEFS,
	.flexC,
	.flexCFS,
	.flexSC,
	.flexFS,
	.flexFSC {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		.flex-item {
			width: 100%;
			max-width: 100%;
		}
	}
} 
*/

.flexRow {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.flexCol {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.flexColRev {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}
.center {
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

._started {
	display: none !important;
}
